# Node modules
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build output
dist
build

# Environment files
.env
.env.*
!.env.example

# Git
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode
.idea

# Tests & coverage
coverage
*.test.*
*.spec.*

# Misc
*.md